<div class="row m-3">
    <div class="col-sm-12">
        <h4 class="text-white">Financial Indicators</h4>
    </div>

    <div class="col-sm-4">
        <app-card [indicatorType]="'Dollar'"></app-card>
    </div>
    <div class="col-sm-4">
        <app-card [indicatorType]="'Euro'"></app-card>
    </div>
    <div class="col-sm-4">
        <app-card [indicatorType]="'CPI'"></app-card>
    </div>
    <div class="col-sm-4">
        <app-card [indicatorType]="'UF'"></app-card>
    </div>
    <div class="col-sm-4">
        <app-card [indicatorType]="'UTM'"></app-card>
    </div>
</div>



